[submodule "BID"]
	path = BID
	url = https://github.com/CTSRD-CHERI/BID.git
[submodule "BSV-RVFI-DII"]
	path = BSV-RVFI-DII
	url = https://github.com/CTSRD-CHERI/BSV-RVFI-DII.git
[submodule "CHERISOC"]
	path = src/toplevels/CHERISOC
	url = https://github.com/CTSRD-CHERI/CHERISOC.git
[submodule "cheri-cap-lib"]
	path = src/rvbs/cheri-cap-lib
	url = https://github.com/CTSRD-CHERI/cheri-cap-lib.git
